@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

body {
    font-family: "IBM Plex Sans Arabic";
    animation: fadeInUp 0.5s;
}

/* Navigation Styles */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        margin-left: 0;
        display: flex;
        justify-content: flex-start; /* تحديد محاذاة العناصر إلى اليمين */
        align-items: center; /* توسيط العناصر عمودياً */
    }

    .navbar-nav .nav-item {
        border-right: none;
        padding-left: 10px; /* ترك مساحة مناسبة بين العناصر */
        padding-right: 0; /* إزالة التموج الأيمن للعناصر */
    }

    .nav.scrolled {
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

#btn_primary {
    padding: 3% 15%;
    /* Adjust button padding */
}

#btn_primary:hover {
    background-color: red;
    color: whitesmoke;
}

#outline_btn {
    padding: 3% 10%;
    /* Adjust button padding */
    outline: 2px solid #2DC653;
    color: #2DC653;
}

#outline_btn:hover {
    background-color: #2DC653;
    color: whitesmoke;
}

.lead {
    font-weight: 500;
    font-size: 23px;
    color: #787878;
}


.nav {
    transition: .25s ease-in-out;
}

.nav-link {
    color: #1e1e1e;
    font-size: 21px;
    font-weight: 500;
    transition: 0.20s ease-in-out;
}

#active:hover {
    color: #2DC653;
}
.navbar-nav {
    margin-right: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.navbar-nav .nav-item {
    text-align: center;
        border-right: 1px solid #ccc;
    padding-left: 10px;
}
.navbar-toggler:focus {
    outline: none;
    border: none;
}

.nav.scrolled {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
