@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

body {
    font-family: "IBM Plex Sans Arabic";
    animation: fadeInUp 0.5s;
}

/* Navigation Styles */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        margin-left: 0;
        /* gap: 30px; */
        /* Remove margin for better centering */
    }

    .navbar-nav .nav-item {
        border-right: none;
        padding-left: 0;
        padding-right: 10px;
        /* Add right padding */
        margin-bottom: 10px;
        position: relative;
        left: 180px;
        border: white;
        /* Add margin between navigation items */
    }

    #signup {
        font-size: 18px;
        /* Adjust font size */
        padding: 8px 16px;
        /* Adjust button padding */
        margin-left: 0;
        /* Reset margin */
    }
}

#btn_primary {
    padding: 3% 15%;
    /* Adjust button padding */
}

#btn_primary:hover {
    background-color: red;
    color: whitesmoke;
}

#outline_btn {
    padding: 3% 10%;
    /* Adjust button padding */
    outline: 2px solid #2DC653;
    color: #2DC653;
}

#outline_btn:hover {
    background-color: #2DC653;
    color: whitesmoke;
}

.lead {
    font-weight: 500;
    font-size: 23px;
    color: #787878;
}


.nav {
    transition: .25s ease-in-out;
}

.nav-link {
    color: #1e1e1e;
    font-size: 21px;
    font-weight: 500;
    transition: 0.20s ease-in-out;
}

#active:hover {
    color: #2DC653;
}
.navbar-nav {
    margin-right: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.navbar-nav .nav-item {
    text-align: center;
    border-right: 1px solid #ccc;
    padding-left: 10px;
}
.navbar-toggler:focus {
    outline: none;
    border: none;
}

.nav.scrolled {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#signup {
    font-size: 23px;
    font-weight: 500;
    background-color: #2DC653;
    border: 1px solid #2DC653;
    margin-right: auto;
    padding: 5px 4%;
    margin-left: 3%;
}
